src/testTensorFlow/
src/seann999/
src/jack/
src/fixateOneObj/oldScripts/
/datasets
/dep
src/genTrainExpPy/main.py
src/fixateOneObj/save/

*.iml
*.xml
*.gz
*.SUNet
*.fig

src/fixateOneObj/tf_mnist_loader.pyc
src/fixateOneObj/tf_mnist_loader.py
src/genTrainExp/testing.m
src/torch/.metadata/

*.version
*.tree
*.resources
*.prefs
*.xmi
*.ini

